* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header_container {
    width: 100%;
    height: 200px;
    background-color: #540d0d;
    color: white;
    display: flex;
    font-size: 30px;
    align-items: center;
    gap: 250px;
}

.header_title {
    display: flex;
    gap: 100px;

}

.header_title a {
    text-decoration: none;
    color: aliceblue;
}

.header_title a:hover {
    color: rgb(240, 199, 148);
}

.logo {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 10px 15px;
}

.ri-shopping-cart-2-fill {
    font-size: 30px;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #340606;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(120, 88, 50);
}

.zero_container img {
    width: 80%;
    height: 900px;
}

.section_container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 110px;
    padding-top: 70px;
    font-size: 25px;
    background-color: rgb(243, 234, 223);
    width: 400px;
}

.section_container a {
    text-decoration: none;
    color: rgb(235, 152, 35);
}

.section_container a:hover {
    color: #681010;
    transition: 0.7s;
}

.zero_container {
    display: flex;
}

.sweet_container {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    font-family: Dancing Script, cursive;
    font-style: italic;

}

hr {
    width: 12%;
    color: black;
    height: 0px;
    margin-top: 20px;
    font-weight: 900;
}

.sweet_main div {
    border: 2px solid grey;
    height: 440px;
    margin: 40px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}

.sweet_main div p {
    margin-top: 20px;
    font-size: 25px;
}

.sweet_main div img {
    width: 200px;
    border-radius: 4px;
    height: 230px;
}

.sweet_main button {
    width: 100px;
    height: 50px;
    margin-top: 15px;
    background-color: rgb(246, 231, 208);
    border: 2px solid rgb(66, 10, 41);
    border-radius: 12px;
    font-size: 17px;
}

.sweet_main button:hover {
    background-color: #340606;
    color: white;
    border: 1px solid rgb(235, 152, 35);
}

.sweet_main {
    display: flex;
    justify-content: space-between;
}

#sweetMain {
    display: flex;
    justify-content: space-around;
}

.guest_container img {
    width: 100%;
    height: 800px;
}

.guest_container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}

.guest_container div p {
    width: 70%;
    font-size: 30px;
    color: rgb(6, 3, 3);
}

.guest_container div button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(12, 12, 83);
    color: white;
    border: 1px solid rgb(233, 233, 239);
    font-size: 16px;
}

.guest_container img {
    opacity: 0.5;
    margin-top: -150px;
}

.guest_container {
    margin-top: 200px;
}

.guest_container h1 {
    font-weight: 900;
    color: rgb(25, 25, 120);
    font-size: 40px;
}

.guest_container_title {
    margin-top: 90px;
    display: flex;
    font-family: Dancing Script, cursive;
    font-style: italic;
    justify-content: center;
    color: rgb(223, 135, 71);
    font-size: 50px;
}

.header_guest {
    border: 1.5px solid rgb(218, 113, 131);
    border-radius: 10px;
    width: 90%;
    height: 70px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-left: 60px;
    color: rgb(218, 100, 120);
    background-color: rgb(240, 235, 235);
}

.header_guest h2 {
    margin-top: 12px;
    font-size: 40px;
    font-family: italic;

}

.guest_container_out {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 100px;
}


footer {
    background-color: black;
    height: 600px;
    width: 100%;
}

.footer_a {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 70px;
}

.footer_container a {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-family: Dancing Script, cursive;
    font-style: italic;
    font-size: 20px;
    margin-left: 240px;
    margin-top: 60px;
    width: 10%;
    transition: 0.7s;
}

.footer_container a:hover {
    color: rgb(196, 140, 68);
}

.footer_sheet div {
    display: flex;
    margin-bottom: 70px;
    margin-left: 750px;
    color: white;
    font-size: 20px;
    gap: 40px;

}

.footer_sheet {
    margin-top: -260px;
}

.sheet_footer p {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(205, 108, 39);
    margin-top: 210px;
}

.sheet_footer hr {
    width: 70%;
    margin: 10px auto;

}

.ri-mail-fill {
    display: flex;
    color: rgb(237, 192, 134);
    margin-left: 550px;
    font-size: 20px;
    margin-top: -43px;
}

.sheet_icon {
    display: flex;
    justify-content: center;
    color: rgb(128, 78, 16);
    font-size: 30px;
    gap: 125px;
    margin-top: 20px;
    transition: 0.7s;
}

.sheet_icon a:hover {
    color: #d91717;
    transition: 0.7s;
}

.darkmood {
    width: 80px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 6px 10px;
    display: flex;
    gap: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.ri-moon-line,
.ri-sun-line {
    font-size: 25px;
}

.generally_scrol{
    border: 1px solid rgb(121, 40, 52);
    border-radius: 15px;
    width: 4%;
    height: 56px;
    background-color: rgb(226, 103, 124);
    display: flex;
    align-items: center;
    position: fixed;
    font-size: 30px;
    right: 15px;
    justify-content: center;
    top: 90%;
    color: white;
    display: none;
}

#snow{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    width: 100%;
    height: 785%;
}

@keyframes animation{
    to {
        transform: translateY(690vh);
    }

}

.snow{
    position: absolute;
    top: -10px;
    font-size: 1em;
    user-select: none;
    animation: animation linear infinite;
}